<h1 onclick="new function(){
    window.location.href = window.location.origin+'/consumer';
}">Dashboard</h1>
<form class="search-form" onclick="preventDefault();" action="/consumer" method="post">
    <label for="query">Search Something</label>
    <input type="text" id="query" name="query" class="query">
</form>
<%for (var i =0; i < products.length; i++) {%>
<hr>

<img src="<%=products[i]['image_']%>" style="height: 100px; width:100px;" />
<h3><%=products[i].title%></h3>
<p>Description : <%=products[i].description%></p>
<p> $ : <%=products[i].price%></p>
<p>Category : <%=products[i].category%></p>

<form action="/consumer/add_to_cart" method="post">
    <input value="<%=products[i].title%>" id="title" name="title" hidden>
    <label for="count">Number</label>
    <input type="number" id="count" name="count" value="1">
    <button type="submit">Add to Cart</button>
</form>
<br>
<%}%>


