<h1>This is Consumer Dashboard</h1>
<form class="search-form" onclick="preventDefault();" action="/consumer/search_form" method="post">
    <label for="query">Search Something</label>
    <input type="text" id="query" name="query" class="query">
</form>
<%for (var i =0; i < products.length; i++) {%>
<hr>
<%=products[i].title%> <br><br>
<%=products[i].description%> <br><br>
<%=products[i].price%> <br><br>
<%=products[i].category%> <br><br>
Image is <%=products[i].image_%>
<form action="/consumer/add_to_cart" method="post">
    <input value="<%=products[i].title%>" id="title" name="title" hidden>
    <label for="count">Number</label>
    <input type="number" id="count" name="count" value="1">
    <button type="submit">Add to Cart</button>
</form>
<br>
<%}%>


