<h1 onclick="new function(){
    window.location.href = window.location.origin+'/consumer';}">
    Dashboard
</h1>

<form class="search-form" onclick="preventDefault();" action="/consumer" method="post">
    <label for="query">Product Search</label>
    <input type="text" id="query" name="query" class="query">
</form>

<%for (var i =0; i < products.length; i++) {%>
<hr>

<div onclick="Redirect('<%= products[i]._id %>')">
    <img src="<%=products[i]['image_']%>" style="height: 100px; width:100px;" />
    <h3><%=products[i].title%></h3>
    <p>Description : <%=products[i].description%></p>
    <p> Price : $ <%=products[i].price%></p>
    <p>Category : <%=products[i].category%></p>
    <% if (products[i].quan>0){ %>
    <p>Stock Left : <%= products[i].quan %></p>
    <% } else { %>
    <p>Stock Left : Product Out Of Stock</p>
    <% } %>
</div>

<br>
<%}%>

<script>
    function Redirect(back){
        window.location.href = window.location.origin+`/consumer/product/${back}`
    }
</script>