<h1>CheckOut</h1>

<% if (user.cart.length >0) {%>

<%for (var i =0; i < user.cart.length; i++) {%>
<hr>

<div>
    <div>
        <img src="<%=user.cart[i]['image_']%>" style="height: 100px; width:100px;" />
        <h3><%=user.cart[i].title%></h3>
    </div>
    <p> Price : $ <%=user.cart[i].price%></p>
    <p>Category : <%=user.cart[i].category%></p>
    <p>Quantity : <%= user.cart[i].count %> </p>
    <p>Product Total : $ <%= user.cart[i].count*user.cart[i].price %> </p>

</div>
<br>
<%}%>
<p>Total Price: <%=total%></p>
<h2>Enter your information</h2>
<form action="/consumer/checkout" method="POST">
    <label for="name">Name</label>
    <input name="name" id="name" value="<%=user['name']%>" readonly> <br><br>
    <label for="address_1">Address Line 1</label>
    <input name="address_1" id="address_1"> <br><br>
    <label for="address_2">Address Line 2</label>
    <input name="address_2" id="address_2"> <br><br>
    <label for="city">City</label>
    <input name="city" id="city"> <br><br>
    <label for="state">State</label>
    <input name="state" id="state"> <br><br>
    <label for="country">Country</label>
    <input name="country" id="country"> <br><br>
    <label for="pin">Pin Code</label>
    <input name="pin" id="pin"> <br><br>
    <br>
    <label for="cc">Credit Card Number</label>
    <input name="cc" id="cc"> <br><br>
    <label for="issue">Issued (MM/YY)</label>
    <input name="issue" id="issue"> <br><br>
    <label for="expiry">Expiry (MM/YY)</label>
    <input name="expiry" id="expiry"> <br><br>
    <label for="cvv">CVV Number</label>
    <input name="cvv" id="cvv" type="password"> <br><br>
    <button type="submit">Order</button>
</form>
<hr>
<% } else { %>
<h1>Add Products To Cart To Get Started</h1>
<% } %>