<body>
    <div class="nav-dashboard">
        <img src="https://media.discordapp.net/attachments/741244174736556076/887655770739601418/unknown.png"
            alt="Dashboard" onclick="new function(){
                    window.location.href = window.location.origin+'/dashboard';}">

        <form class="search-form" onclick="preventDefault();" action="/consumer" method="post">
            <input type="text" id="query" name="query" class="query" placeholder="Search">
        </form>

        <ul onclick="new function(){window.location.href='/profile'}">
            <li class="user-n">Profile</li>
            <li class="gear-n">
                <span class="material-icons-round">
                    settings
                </span>
            </li>
        </ul>
        <span class="material-icons-outlined clothes">
            sell
        </span>
        <h4 class="cloth" onclick="new function(){window.location.href='/consumer/cart'}">Cart</h4>
        <% if (user.type_of_user == true){%>
        <h4 class="cloth" onclick="new function(){window.location.href='/dashboard'}"
            style="margin-top: 14vw; font-weight: bold;">Retailer Dashboard</h4>
        <h4 class="cloth" onclick="new function(){window.location.href='/consumer'}"
            style="margin-top: 16vw; font-weight: bold;">Consumer Dashboard</h4>
        <% } %>
        <h4 class="cloth" onclick="new function(){window.location.href='/consumer/my_orders'}"
            style="margin-top: 12vw; font-weight: bold;">Order Placed</h4>

        <div id="logout_click_div" onclick="Logout()">
            <span class="material-icons-outlined log">
                logout
            </span>
            <h4 class="log-out">
                Logout
            </h4>
        </div>

    </div>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="prod-dashboard">
        <h1><%=product.title%></h1>
        <img src="<%=product['image_']%>" alt="">
        <p>
            <%=product.description%>
        </p>
        <h5>USD $ - <%=product.price%></h5>
        <div class="prod-info">
            <p>Category : <%=product.category%></p><br>
            <p>Rating : <%= product.rating.rate %> </p><br>
            <p>Verified Reviewers : <%= product.rating.count %> </p><br>
            <p>Quantity Left : <%= product.quan %></p><br>
        </div>
        <% if (product.quan >= 1){ %>
        <form action="/consumer/add_to_cart" method="post">
            <input value="<%=product._id%>" id="id" name="id" hidden>
            <input type="number" placeholder="Qty." id="count" name="count" min="1" max="<%= product.quan %>">
            <button type="submit">Buy</button>
        </form>
        <% } else { %>
        <h3>Product Out Of Stock</h3>
        <% } %>
    </div>
</body>