<body id="hmm_test">
    <button class="btn-arr">
        <span class="material-icons-outlined" onclick="new function(){window.location.href='/dashboard'}">
            arrow_back
        </span>
    </button>


    <div class="dash-card-retailer">
        <%for (var i =0; i < products.length; i++) {%>
        <div class="dash-list">
            <% for (var a=0; a < products[i].length; a++) {%>
            <div class="card" onclick="Redirect('<%= products[i][a]._id %>')">
                <!--@ts-ignore-->
                <div class="card-img" style="background: url('<%=products[i][a]['image_']%>'); background-size: cover;">
                </div>
                <div class="card-desc">
                    <h2 style="font-size: 18px;"><%=products[i][a].title%></h2><br>
                    <h4>Price: $<%=products[i][a].price%></h4>
                    <h4>Category: <%=products[i][a].category%></h4>
                    <h4>Quantity Left : <%= products[i][a].quan %></h4>
                    <br>
                    <button onclick="RemoveItem('<%= products[i][a].id %>')">Stop Selling Item</button>

                </div>
            </div>
            <%}%>
        </div>
        <%}%>


        </div>
</body>

<script>
    var notyf = new Notyf();

    async function RemoveItem(id) {
        const resp = await fetch(window.location.origin + '/retailer/remove', {
            method: 'POST',
            body: JSON.stringify({
                id: id
            }),
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            }
        }).then(async (response) => {
            var response_ = await response.json()
            if (response_.success == true) {
                notyf.success(response_.message)
                window.location.href = window.location.origin + '/dashboard'
            } else {
                notyf.error(response_.message)
                notyf.error(response_.error)
            }
        })
    }
</script>