<i class="fas fa-arrow-left" onclick="new function(){
    window.location.href = window.location.origin + '/dashboard'}"></i>

<% if (retailer_products.length!=0){ %>
<% for(var i=0; i < retailer_products.length; i++) { %>

<hr>

<div style="margin: 20px;">
    <img src="<%=retailer_products[i].product['image_']%>" style="height: 100px; width:100px;" />
    <p>Title : <%= retailer_products[i].product.title %></p>
    <p>Total Cost : $ <%= retailer_products[i].product.price *retailer_products[i].count %></p>
    <p>Quantity To Deliver : <%= retailer_products[i].count %></p>
    <p>Diliver At Adress:
        <%= retailer_products[i].address+',\n'+retailer_products[i].city+',\n'+retailer_products[i].state +',\n'+retailer_products[i].country +',\n'+retailer_products[i].pin %>
    </p>
    <p>Name To Deliver To : <%= retailer_products[i].name%></p>
    <p>Email To Contact : <%= retailer_products[i].email%></p>

    <button onclick="FulfillOrder('<%= retailer_products[i].order_id %>')">Fullfill Order To Consumer</button>
</div>

<% } %>
<%}else{ %>

<h1>You have not sold Any Products.</h1>
<%}%>

<script>
    var notyf = new Notyf();
    function FulfillOrder(orderid){
        notyf.success("Cannot Fullfill orders in Test App. Will Add function in the future. order_id: "+ orderid)
    }
</script>